/* Suggested stylesheet for BuGit's CGI output.  */

body {
    font-family: sans-serif;
    background-color: #DDD;
}
header {
    text-align: center;
    background-color: #F5F5F5;
}
main {
    margin: auto;
    width: 90%;
}
h1, h2 {
    color: #444;
    padding-right: 5%;
    padding-left: 5%;
}

table.issueheader {
    border-width: 1px;
    border-style: solid;
    border-color: #BBB #555 #555 #BBB;
}
.issueheader td, .issueheader th {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 #BBB #BBB #555;
}

footer {
    margin-top: 1em;
    /* float: right; */
    text-align: right;
    /* border-top: 1px solid; */
    background-color: #F5F5F5;
}
